
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
img.image{
    /* height: 524px;
    width: 612px; */

    height: 451px;
    width: 612px;


    /* margin-left: 30px; */
    /* border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 2px 2px 20px #7c7373;    */
}
.container{
    display: flex;
    /* padding: 91px; */
    align-items: center;
    /* justify-content: center; */
    border-radius: 35px;
    overflow: hidden;
    height: 444px;
    box-shadow: 0 0 7px 2px rgb(124 115 115);
}

.container_bg{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #ffe5f1;
    align-items: center;
    justify-content: center;
}
/*Main.html--------------------------------------------------------*/

.left-panel_1{
    display: flex;
    width: 580px;
}

.container1{
    /* height: 365px;
    width: 532px; */

    height: 443px;
    width: 280px;
}

.right_panel_1{
    display: flex;
    flex-direction: column;
    /* width: 532px;
    height: 365px;
    padding: 100px; */
    width: 281px;
    height: 444px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 2px 2px 15px #a5a5a5;    */
}

.group1{
    padding: 50px;
}

.button_btn{
    width: 160px;
    height: 35px;
    background-color: #7b79ff;
    font-weight: bold;
    font-size: 14px;
    border-style: none;
    border-radius: 5px;
    color: #fff;
    /* margin-top: 80px; */
    cursor: pointer;
    outline: none;
    margin-bottom: 40px;
}
#Signup:hover,
#Signup:focus,
.button_btn1:hover,
.button_btn1:focus{
    transform: scale(1.1);
}
.button_btn1{
    width: 160px;
    height: 35px;
    background-color: rgb(123, 121, 255);
    font-weight: bold;
    font-size: 14px;
    border-style: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    
    margin-bottom: 40px;
}
/* .button_btn1:hover,
.button_btn1:focus{
    transform: scale(1.1);
} */

@media only screen and (max-width:900px){
    .container{
        display:flex;
        flex-direction: column;
    }
}

/*Sign.html----------------------------------------------------*/

.left{
    display: flex;
    width: 580px;
    
}

.right{
    display: flex;
    flex-direction: column;
    /* width: 532px;
    height: 365px;
    padding: 100px; */
    width: 281px;
    height: 444px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 2px 2px 15px #a5a5a5;    */
}
.right_labels{
    align-self: self-end;
}

.right h1 {
    /* margin-top: 110px;
    margin-left: 80px; */
}

strong{
    font-weight: bold;
    font-size: 25px;
    /* margin-top: -1px;
    margin-left: 80px; */
}
.SignUp_btn{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding: 10px;
}

.login{
    font-weight: bold;
    font-size: 10px;
    color: rgb(150, 150, 150);
    font-family: sans-serif;
    /* margin-top: 10px;
    margin-left: 60px; */
    padding: 20px;
}

.login .group{
    position: relative;
    display: flex;
    flex-direction: column;
}

svg#times_1{
    width: 2142px;
    height: 20px;
    margin-top: 110px;
    position: fixed;
    /* margin-left: 1070px; */
    cursor: pointer;
    color: black;
}

/*SignUp-------------------------------------------------------*/
.main{
    background-color: #ebebeb;
}

.right-panel{
    display: flex;
    flex-direction: column;
    /* width: 532px;
    height: 365px;
    padding: 100px; */
    width: 281px;
    height: 444px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 2px 2px 15px #a5a5a5;    */  
    
}
.right-panel h1{
    font-weight: bold;
    font-size: 25px;
    /* float: none;
    margin-top: 50px; */
}
h1 {
    /* margin-top: 40px;
    margin-left: 80px; */
}
h1.strong{
    font-weight: bold;
    font-size: 25px;
    /* margin-top: -1px;
    margin-left: 80px; */
}

.waterMark{
    position: absolute;
    padding: 30px;
    color: #fff;
}

.left-panel{
    display: flex;
    width: 580px;
    /* margin-left: 1px; */
}

.SignUp{
    font-weight: bold;
    font-size: 10px;
    color: rgb(150, 150, 150);
    font-family: sans-serif;
    /* margin-top: 2px;
    margin-left: 60px; */
    padding: 20px;
}
.SignUp .group{
    display: flex;
    flex-direction: column;
    position: relative;
}
label{
    margin-bottom: 5px;
}
#Username {
    width: 220px;
    height: 32px;;
    border-radius: 5px;
    border-color: #dcdcdc;
    border-style: solid;
    margin-bottom: 10px;
    /* padding-left: 10px; */
}
#PhoneNo {
    width: 220px;
    height: 32px;
    border-radius: 5px;
    border-color: #dcdcdc;
    border-style: solid;
    margin-bottom: 10px;
    /* padding-left: 10px; */
}
#Email {
    width: 220px;
    height: 32px;
    border-radius: 5px;
    border-color: #dcdcdc;
    border-style: solid;
    margin-bottom: 10px;
    /* padding-left: 10px; */
}
#password {
    width: 220px;
    height: 32px;
    border-radius: 5px;
    border-color: #dcdcdc;
    border-style: solid;
    margin-bottom: 20px;
    /* padding-left: 10px; */
}
/* .material-icons-outlined{
    position: absolute;
    top: 33px;
    right: 95px;
    width: 18px;
    transform: translate(0,-50%);
    cursor: pointer;
} */
#eye{
    position: absolute;
    top: 32px;
    right: 13px;
    transform: translate(0,-50%);
    cursor: pointer;
    color: #7b79ff;
    font-size: 15px;
}
.group .button{
    width: 220px;
    height: 32px;
    background-color: #7b79ff;
    font-weight: bold;
    font-size: 14px;
    border-style: none;
    border-radius: 5px;
    color: #fff;
    /* margin-bottom: 40px; */
    cursor: pointer;
}


.Sign{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding: 10px;
}
.link{
    color: #9897ff;
}
svg#times{
    width: 2142px;
    height: 20px;
    margin-top: 110px;
    position: fixed;
    /* margin-left: 1070px; */
    cursor: pointer;
    color: black;
}
.title_Up{
    align-self: start;
    padding: 0px 0px 0px 10px;
}
