@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

@import url(sign.css);
@import url(index.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section .img_moon {
  display: contents;
}

svg.moon {
  height: 21px;
  width: 20px;
}

.sec {
  background-color: #ffe5f1;
  transition: background 0.5s;
}

.dark {
  background: #292c35;
  transition: background 0.5s;
}

.image2 {
  background-color: #7b79ff;
  height: 100vh;
  width: 100vw;
}

section.dark .right_labels1 {
  background: #292c35;
  color: #fff;
  /* transition: background 0.5s;   */
  border-radius: 30px;
}
section.dark .title_Up {
  background: #292c35;
  color: #fff;
  /* transition: background 0.5s;  */
  border-radius: 30px;
}
section.dark .right-panel {
  background: #292c35;
  color: #fff;
  /* transition: background 0.5s;  */
  border-radius: 30px;
}

section.dark .rLabels {
  background: #292c35;
  color: #fff;
  /* transition: background 0.5s;     */
  border-radius: 30px;
}

section.dark .Tdark {
  background: #292c35;
  color: #fff;
  /* transition: background 0.5s; */
  width: 260px;
  margin-left: 254px;
  /* border-radius: 30px; */
}

.right_labels1 {
  display: flex;
  flex-direction: column;
}
strong {
  font-weight: bold;
  font-size: 25px;
}

.main {
  background-color: #ebebeb;
}

.rLabels {
  background: #fff;
  border-radius: 0px 0px 30px 30px;
}

.Tdark {
  margin-left: 254px;
  background: #fff;
  width: 260px;
  border-radius: 30px 30px 0px 0px;
}

.right-panel h1 {
  font-weight: bold;
  font-size: 25px;
}

h1.strong {
  font-weight: bold;
  font-size: 25px;
}

.waterMark {
  position: absolute;
  padding: 30px;
  color: #fff;
  cursor: default;
}

.SignUp {
  font-weight: bold;
  font-size: 10px;
  color: rgb(150, 150, 150);
  font-family: sans-serif;
  padding: 20px;
}

.SignUp .group {
  display: flex;
  flex-direction: column;
  position: relative;
}

label {
  margin-bottom: 5px;
}

.right-panel {
  display: flex;
  /* position: relative; */
  /* height: 106vh; */
  width: 720px;
  /* display: table; */
  /* align-items: center; */
  justify-content: center;
  /* background: white; */
}

#Username {
  width: 220px;
  height: 32px;
  border-radius: 5px;
  border-color: #dcdcdc;
  border-style: solid;
  margin-bottom: 10px;
  padding: 5px;
}

#PhoneNo {
  width: 220px;
  height: 32px;
  border-radius: 5px;
  border-color: #dcdcdc;
  border-style: solid;
  margin-bottom: 10px;
  padding: 5px;
}

#Email {
  width: 220px;
  height: 32px;
  border-radius: 5px;
  border-color: #dcdcdc;
  border-style: solid;
  margin-bottom: 10px;
  padding: 5px;
}

#password {
  width: 220px;
  height: 32px;
  border-radius: 5px;
  border-color: #dcdcdc;
  border-style: solid;
  margin-bottom: 20px;
  padding: 5px;
}

.times1 {
  display: grid;
  width: 15px;
  margin-top: 20px;
  margin-left: 207px;
  position: absolute;
}

.group .button {
  width: 220px;
  height: 32px;
  background-color: #7b79ff;
  font-weight: bold;
  font-size: 14px;
  border-style: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.Sign {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  padding: 10px;
}

.link {
  color: #9897ff;
}

.title_Up {
  display: flex;
  flex-direction: column;
  height: 62px;
  background: #fff;
  border-radius: 30px 30px 0px 0px;
  /* padding: 10px 0px 0px 10px; */
}

.times {
  display: grid;
  width: 15px;
  align-self: end;
  position: absolute;
  margin-bottom: 310px;
  margin-left: 250px;
}

svg#times_1 {
  color: #111;
}

.eye1 {
  position: fixed;
  top: 400px;
  left: 440px;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #7b79ff;
  font-size: 15px;
}

/*-----------------------------------Laptop View-------------------------------------------------------*/

.container {
  display: flex;
  align-items: center;
  border-radius: 35px;
  overflow: hidden;
  height: 444px;
  width: 902px;
  box-shadow: 0 0 7px 4px #c1c1c1;
}

.container_bg {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.container1 {
  height: 443px;
  /* width: 280px; */
}

img.image2 {
  height: 68vh;
  width: 612px;
}

.group1 {
  height: 100px;
}
/*SignUp.html*/

.right-panel {
  display: flex;
  flex-direction: column;
  width: 281px;
  height: 68vh;
  padding: 15px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.left-panel {
  display: flex;
  width: 622px;
  height: 68vh;
}

.illustration2 {
  height: 62vh;
}

img.image2 {
  height: 68vh;
  width: 621px;
}

.title_Up {
  display: flex;
  flex-direction: column;
  height: 62px;
  width: 220px;
  background: #fff;
  /* border-radius: 30px 30px 0px 0px; */
  align-self: center;
}

.rLabels {
  background: #fff;
  /* border-radius: 0px 0px 30px 30px; */
  height: 356px;
}
.right_labels1 {
  display: flex;
  flex-direction: column;
  height: 365px;
}

.times1 {
  width: 25px;
  height: 415px;
}

.eye2 {
  color: #7b79ff;
  position: absolute;
  top: 24px;
  right: 16px;
  font-size: 15px;
}

/* ------------------------------------------------------------------------ */
/* @media only screen and(max-width:1000px) {
  .tright {
    height: 65vh;
    width: 55vh;
    background: white;
    box-shadow: 0 0 7px 4px #c1c1c1;
  }

  .right {
    display: flex;
    height: 10vh;
    width: 562px;
    align-items: flex-end;
    justify-content: center;
  }
} */
