@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url(sign.css);
@import url(signU.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section .img_moon {
  display: contents;
}

svg.moon {
  height: 21px;
  width: 20px;
}

.sec {
  background-color: #ffe5f1;
  transition: background 0.5s;
}

.dark {
  background: #292c35;
  transition: background 0.5s;
}

section.dark .right_panel_1 {
  background: #292c35;
  color: #fff;
  transition: background 0.5s;
}

.toggle {
  position: absolute;
  top: 20px;
  right: 60px;
  background: #e9f5ff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

section .img_moon {
  display: contents;
}

svg.moon {
  height: 21px;
  width: 20px;
}
.waterMark {
  position: absolute;
  padding: 30px;
  color: #fff;
  cursor: default;
}

/*-----------------------------------Laptop View-------------------------------------------------------*/

.container_bg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  border-radius: 35px;
  overflow: hidden;
  /* -----------height and width fixed--------- */
  box-shadow: 0 0 7px 4px #c1c1c1;
}
.left-panel_1 {
  /* --------height has been set--------- */
  height: 75vh;
}
img.image {
  /* --------height has been set--------- */
  height: 75vh;
  width: 612px;
}

.right_panel_1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 305px;
  /* --------height has been set--------- */
  height: 75vh;
  padding: 15px;
  justify-content: center;
  align-items: center;
  transition: background 0.5s;
}

.title1 {
  text-align: center;
  margin-bottom: 20px;
}

.ButtonGrp {
  display: flex;
  flex-direction: column;
  /* uncommented width---------- */
  width: 251px;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
}

.button_btn {
  width: 160px;
  height: 35px;
  background-color: #7b79ff;
  font-weight: bold;
  font-size: 14px;
  border-style: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  outline: none;
  margin-bottom: 40px;
}

.button_btn1 {
  width: 160px;
  height: 35px;
  background-color: rgb(123, 121, 255);
  font-weight: bold;
  font-size: 14px;
  border-style: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  outline: none;

  margin-bottom: 40px;
}

#Signup:hover,
#Signup:focus,
.button_btn1:hover,
.button_btn1:focus,
.button_btn11:hover,
.button_btn:focus {
  transform: scale(1.1);
}

/*-----------------------------------Mobile View-------------------------------------------------------*/

@media (max-width: 1000px) {
  .container_bg {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }
  .left-panel_1 {
    width: 100vw;
  }
  img.image {
    width: 100vw;
  }
  .right_panel_1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 45vh;
  }
  .ButtonGrp {
    display: flex;
    flex-direction: row;
    width: 100vw;
  }
  .group1 {
    height: 50px;
  }
}

@media (min-width: 1100px) and (max-width: 1440px) {
  .waterMark {
    position: absolute;
    padding: 30px;
    color: #fff;
    cursor: default;
    top: 180px;
  }
}
@media (min-width: 1000px) and (max-width: 1024px) {
  .waterMark {
    position: absolute;
    padding: 30px;
    color: #fff;
    cursor: default;
    top: 130px;
  }
}