
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img.image{
    height: 100vh;
    width: 100vw;
}


.image2{
    background-color: #7b79ff;
    height: 100vh;
    width: 100vw;
}


.container1{
    align-self: center;
    background: #fff;
}

.container{
    align-self: center;
    background: #fff;
}

.title1 {
    text-align: center;
    margin-bottom: 20px;
}




.ButtonGrp {
    display: flex;
    width: 100vw;
    margin: auto;
    justify-content: space-evenly;
}


.illustration {
    height: 76vh;
}

.illustration2{
    height: 20vh;
}

.right_panel_1{
    height: 129px;
}


/*-----------------------------------Laptop View-------------------------------------------------------*/


@media only screen and (min-width:1024px){
    .container{
        display: flex;
        align-items: center;
        border-radius: 35px;
        overflow: hidden;
        height: 444px;
        width: 902px;
        box-shadow: 0 0 7px 4px #c1c1c1; 
        
    }

    .container_bg{
        display: flex;
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }

    .container1{
        height: 443px;
        /* width: 280px; */
    
    }

    img.image{
        height: 62vh;
        width: 612px;
    }

    

    .group1{
        height: 100px;
    }

                                         /*Index.html*/

    /* .left-panel_1{
        display: flex;
        width: 612px
    } */

    .right_panel_1{
        background-color: white; 
         display: flex;
         flex-direction: column;
         width: 281px;
         height: 62vh;
         padding: 15px;
         justify-content: center;
         align-items: center;
         transition: background 0.5s;
     }
     

     .left-panel_1{
         height: 62vh;
     }
     .illustration{
         height: 62vh;
     }

     .title1 {
        text-align: center;
        margin-bottom: 20px;
    }

     .ButtonGrp {
        display: flex;
        flex-direction: column;
        width: 251px;
        margin: auto;
        align-items: center;
        justify-content: space-evenly;
    }

                                             /*SignIN.html*/


     .left{
        display: flex;
        width: 612px;
    }
    
    .right {
        /* display: flex; */
        /* position: absolute; */
        /* width: 235vw; */
        height: 392px;
    }

    .tright {
    height: 29vh;
    }

                                             /*SignUp.html*/

    .right-panel{
        display: flex;
        flex-direction: column;
        width: 281px;
        height: 444px;
        padding: 15px;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    
    .left-panel {
        display: flex;
        width: 622px;
        height: 443px;
    }

    .illustration2{
        height: 62vh;
    }

    img.image2{
        height: 62vh;
        width: 612px;
    }

    .title_Up {
        display: flex;
        flex-direction: column;
        height: 62px;
        width: 220px;
        background: #fff;
        border-radius: 30px 30px 0px 0px;
        align-self: center;
    }

    .rLabels {
        background: #fff;
        border-radius: 0px 0px 30px 30px;
        height: 356px;
    }
    .right_labels1 {
        display: flex;
        flex-direction: column;
        height: 365px;
    }
}   


.sec{
    background-color: #ffe5f1;
    transition: background 0.5s;
}

.dark{
	background: #292c35;
    transition: background 0.5s;
}





/* USING NPM

.dark_m{
    display: flex;
    float: right;
    align-self: flex-start;
    margin-top: 20px;
}

.checkbox {
    opacity: 0;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.0);
}
.ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
    top: 2px;
    left: 2px;
	height: 22px;
	width: 22px;
	transition: transform 0.2s linear;
}

.checkbox:checked +.label .ball {
	transform: translateX(24px);
}

.fa-moon {
	color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
} 
#darkm{
    width:30px;
    cursor: pointer;
    vertical-align: text-bottom;
} */



/*Index.html--------------------------------------------------------*/






section.dark .right_panel_1{
	background: #292c35;
    color: #fff;
    transition: background 0.5s;    
}

/*-----------------*/
.toggle{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #e9f5ff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;  
}

section .img_moon {
    display: contents;
}


svg.moon {
    height: 21px;
    width: 20px;
}
/*-----------------------*/

.illustration1{
    height: 29vh;
}

.button_btn{
    width: 160px;
    height: 35px;
    background-color: #7b79ff;
    font-weight: bold;
    font-size: 14px;
    border-style: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin-bottom: 40px;
}

#Signup:hover,
#Signup:focus,
.button_btn1:hover,
.button_btn1:focus,
.button_btn11:hover,
.button_btn:focus{
    transform: scale(1.1);
}

#Signup:hover,
#Signup:focus,
.link:hover,
.link:focus,
.button:hover,
.button:focus{
    transform: scale(1.1);
}

#times_1:hover,
#times_1:focus,
.svg-inline--fa_fa-times_fa-w-11:hover,
.svg-inline--fa_fa-times_fa-w-11:focus{
    transform: scale(1.1);
}

.button_btn1{
    width: 160px;
    height: 35px;
    background-color: rgb(123, 121, 255);
    font-weight: bold;
    font-size: 14px;
    border-style: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    
    margin-bottom: 40px;
}
                                            /* responsivePage 900px */
/* @media only screen and (max-width:900px){
    .container{
        display:flex;
        flex-direction: column;
    }


    .right_panel_1 {
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-top: -382px;
        width: 281px;
        height: 300px;
        padding: 15px;
        justify-content: center;
        align-items: center;
        transition: background 0.5s;
    } 
    
} */

/*Sign.html----------------------------------------------------*/



.title {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}   


section.dark .right_labels1{
	background: #292c35;
    color: #fff;
    transition: background 0.5s;    
}
section.dark .title_Up{
	background: #292c35;
    color: #fff;
    transition: background 0.5s;    
}
.right_labels1 {
    display: flex;
    flex-direction: column;
    
}

strong{
    font-weight: bold;
    font-size: 25px;
}

.SignUp_btn {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 12px;
    color: rgb(150, 150, 150);
    font-family: sans-serif;
    width: 296px;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 10px;
    color: rgb(150, 150, 150);
    font-family: sans-serif;
    height: 222px;
}

.login .group{
    position: relative;
    display: flex;
    flex-direction: column;
}


/*SignUp-------------------------------------------------------*/

.main{
    background-color: #ebebeb;
}



section.dark .rLabels{
	background: #292c35;
    color: #fff;
    transition: background 0.5s;    
}


section.dark .Tdark {
    background: #292c35;
    color: #fff;
    transition: background 0.5s;
    width: 260px;
    margin-left: 254px;
}
.rLabels{
    background:#fff;
    border-radius: 0px 0px 30px 30px;
}

.Tdark{
    margin-left: 254px;
    background:#fff;
    width: 260px;
    border-radius: 30px 30px 0px 0px;
}

.right-panel h1{
    font-weight: bold;
    font-size: 25px;
}

h1.strong{
    font-weight: bold;
    font-size: 25px;
}

.waterMark{
    position: absolute;
    padding: 30px;
    color: #fff;
    cursor: default;
}



.SignUp{
    font-weight: bold;
    font-size: 10px;
    color: rgb(150, 150, 150);
    font-family: sans-serif;
    padding: 20px;
}

.SignUp .group{
    display: flex;
    flex-direction: column;
    position: relative;
}

label{
    margin-bottom: 5px;
}

.right-panel {
    display: flex;
    /* position: relative; */
    /* height: 106vh; */
    width: 720px;
    /* display: table; */
    /* align-items: center; */
    justify-content: center;
    /* background: white; */
}

#Username {
    width: 220px;
    height: 32px;;
    border-radius: 5px;
    border-color: #dcdcdc;
    border-style: solid;
    margin-bottom: 10px;
    padding: 5px;
}

#PhoneNo {
    width: 220px;
    height: 32px;
    border-radius: 5px;
    border-color: #dcdcdc;
    border-style: solid;
    margin-bottom: 10px;
    padding: 5px;
}

#Email {
    width: 220px;
    height: 32px;
    border-radius: 5px;
    border-color: #dcdcdc;
    border-style: solid;
    margin-bottom: 10px;
    padding: 5px;
}

#password {
    width: 220px;
    height: 32px;
    border-radius: 5px;
    border-color: #dcdcdc;
    border-style: solid;
    margin-bottom: 20px;
    padding: 5px;
}

#eye {
    position: fixed;
    top: 305px;
    left: 340px;
    transform: translate(0,-50%);
    cursor: pointer;
    color: #7b79ff;
    font-size: 15px;
}
.tright {
    height: 65vh;
    width: 55vh;
    background: white;
    border-radius: 30px;
    box-shadow: 0 0 7px 4px #c1c1c1;
}

.right {
    display: flex;
    height: 10vh;
    width: 562px;
    align-items: flex-end;
    justify-content: center;
}


.times1 {
    display: grid;
    width: 15px;
    margin-left: 207px;
    position: absolute;
}

.group .button{
    width: 220px;
    height: 32px;
    background-color: #7b79ff;
    font-weight: bold;
    font-size: 14px;
    border-style: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.Sign{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding: 10px;
}

.link{
    color: #9897ff;
}

.title_Up {
    display: flex;
    flex-direction: column;
    height: 62px;
    background: #fff;
    border-radius: 30px 30px 0px 0px;
    /* padding: 10px 0px 0px 10px; */
}

.times {
    display: grid;
    width: 15px;
    align-self: end;
    position: absolute;
    margin-bottom: 310px;
    margin-left: 250px;
}

svg#times_1{
    color: #111;
}
.eye1 {
    position: fixed;
    top: 91px;
    left: 101px;
    transform: translate(0,-50%);
    cursor: pointer;
    color: #7b79ff;
    font-size: 15px;
}