
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img.image{
    height: 451px;
    width: 612px;
}

.container{
    display: flex;
    align-items: center;
    border-radius: 35px;
    overflow: hidden;
    height: 444px;
    /* box-shadow: 0 0 7px 2px rgb(124 115 115); */
    box-shadow: 0 0 21px 2px #d5d5d5;
}

.container_bg{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #ffe5f1;
    align-items: center;
    justify-content: center;
}
/*Index.html--------------------------------------------------------*/

.left-panel_1{
    display: flex;
    width: 580px;
}

.container1{
    height: 443px;
    width: 280px;
}

.right_panel_1{
    display: flex;
    flex-direction: column;
    width: 281px;
    height: 444px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.group1{
    height: 100px;
    width: 160px;
}

.button_btn{
    width: 160px;
    height: 35px;
    background-color: #7b79ff;
    font-weight: bold;
    font-size: 14px;
    border-style: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin-bottom: 40px;
}

#Signup:hover,
#Signup:focus,
.button_btn1:hover,
.button_btn1:focus,
.button_btn11:hover,
.button_btn:focus{
    transform: scale(1.1);
}

.button_btn1{
    width: 160px;
    height: 35px;
    background-color: rgb(123, 121, 255);
    font-weight: bold;
    font-size: 14px;
    border-style: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    
    margin-bottom: 40px;
}

@media only screen and (max-width:900px){
    .container{
        display:flex;
        flex-direction: column;
    }
}

/*Sign.html----------------------------------------------------*/

.left{
    display: flex;
    width: 580px;
    
}

.right{
    display: flex;
    flex-direction: column;
    width: 281px;
    height: 444px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.right_labels{
    align-self: self-end;
}

strong{
    font-weight: bold;
    font-size: 25px;
}

.SignUp_btn{
    display: flex;
    flex-direction: row;
    /* font-size: 12px;
    padding: 10px; */
    font-weight: bold;
    font-size: 12px;
    color: rgb(150, 150, 150);
    font-family: sans-serif;
    padding: 0px 0px 0px 18px;
}

.login{
    font-weight: bold;
    font-size: 10px;
    color: rgb(150, 150, 150);
    font-family: sans-serif;
    padding: 20px;
}

.login .group{
    position: relative;
    display: flex;
    flex-direction: column;
}

svg#times_1{
    width: 2142px;
    height: 20px;
    margin-top: 110px;
    position: fixed;
    cursor: pointer;
    color: black;
}

.image2{
    background-color: #7b79ff;
    height: 451px;
    width: 612px;
}

/*SignUp-------------------------------------------------------*/

.main{
    background-color: #ebebeb;
}

.right-panel{
    display: flex;
    flex-direction: column;
    width: 281px;
    height: 444px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.right-panel h1{
    font-weight: bold;
    font-size: 25px;
}

h1.strong{
    font-weight: bold;
    font-size: 25px;
}

.waterMark{
    position: absolute;
    padding: 30px;
    color: #fff;
    cursor: default;
}

.left-panel{
    display: flex;
    width: 580px;
}

.SignUp{
    font-weight: bold;
    font-size: 10px;
    color: rgb(150, 150, 150);
    font-family: sans-serif;
    padding: 20px;
}

.SignUp .group{
    display: flex;
    flex-direction: column;
    position: relative;
}

label{
    margin-bottom: 5px;
}

#Username {
    width: 220px;
    height: 32px;;
    border-radius: 5px;
    border-color: #dcdcdc;
    border-style: solid;
    margin-bottom: 10px;
    padding: 5px;
}

#PhoneNo {
    width: 220px;
    height: 32px;
    border-radius: 5px;
    border-color: #dcdcdc;
    border-style: solid;
    margin-bottom: 10px;
    padding: 5px;
}

#Email {
    width: 220px;
    height: 32px;
    border-radius: 5px;
    border-color: #dcdcdc;
    border-style: solid;
    margin-bottom: 10px;
    padding: 5px;
}

#password {
    width: 220px;
    height: 32px;
    border-radius: 5px;
    border-color: #dcdcdc;
    border-style: solid;
    margin-bottom: 20px;
    padding: 5px;
}

#eye{
    position: absolute;
    top: 32px;
    right: 13px;
    transform: translate(0,-50%);
    cursor: pointer;
    color: #7b79ff;
    font-size: 15px;
}

.group .button{
    width: 220px;
    height: 32px;
    background-color: #7b79ff;
    font-weight: bold;
    font-size: 14px;
    border-style: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.Sign{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding: 10px;
}

.link{
    color: #9897ff;
}

svg#times{
    width: 2142px;
    height: 20px;
    margin-top: 110px;
    position: fixed;
    cursor: pointer;
    color: black;
}

.title_Up{
    align-self: start;
    padding: 0px 0px 0px 10px;
}
