@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

@import url(sign.css);
@import url(index.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section .img_moon {
  display: contents;
}

svg.moon {
  height: 21px;
  width: 20px;
}

.sec {
  background-color: #ffe5f1;
  transition: background 0.5s;
}

.dark {
  background: #292c35;
  transition: background 0.5s;
}

section.dark .right_labels1 {
  background: #292c35;
  color: #fff;
  border-radius: 30px;
}

section.dark .right-panel {
  background: #292c35;
  color: #fff;
  border-radius: 30px;
}



section.dark .Tdark {
  background: #292c35;
  color: #fff;
  width: 260px;
  margin-left: 254px;
}

strong {
  font-weight: bold;
  font-size: 25px;
}

.main {
  background-color: #ebebeb;
}

.Tdark {
  margin-left: 254px;
  background: #fff;
  width: 260px;
  border-radius: 30px 30px 0px 0px;
}

.right-panel h1 {
  font-weight: bold;
  font-size: 25px;
}

h1.strong {
  font-weight: bold;
  font-size: 25px;
}

.waterMark {
  position: absolute;
  padding: 30px;
  color: #fff;
  cursor: default;
}

.SignUp {
  font-weight: bold;
  font-size: 10px;
  color: rgb(150, 150, 150);
  font-family: sans-serif;
  padding: 20px;
}

.SignUp .group {
  display: flex;
  flex-direction: column;
  position: relative;
}

label {
  margin-bottom: 5px;
}

#Username {
  width: 220px;
  height: 32px;
  border-radius: 5px;
  border-color: #dcdcdc;
  border-style: solid;
  margin-bottom: 10px;
  padding: 5px;
}

#PhoneNo {
  width: 220px;
  height: 32px;
  border-radius: 5px;
  border-color: #dcdcdc;
  border-style: solid;
  margin-bottom: 10px;
  padding: 5px;
}

#Email {
  width: 220px;
  height: 32px;
  border-radius: 5px;
  border-color: #dcdcdc;
  border-style: solid;
  margin-bottom: 10px;
  padding: 5px;
}

#password {
  width: 220px;
  height: 32px;
  border-radius: 5px;
  border-color: #dcdcdc;
  border-style: solid;
  margin-bottom: 20px;
  padding: 5px;
}

.group .button {
  width: 220px;
  height: 32px;
  background-color: #7b79ff;
  font-weight: bold;
  font-size: 14px;
  border-style: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.Sign {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  padding: 10px;
}

.link {
  color: #9897ff;
}

.times1 {
  display: grid;
  width: 15px;
  align-self: end;
  position: absolute;
  margin-bottom: 385px;
  margin-right: 25px;
}

svg#times_1 {
  color: #111;
}

.eye1 {
  position: fixed;
  top: 400px;
  left: 440px;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #7b79ff;
  font-size: 15px;
}



.container_bg {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  border-radius: 35px;
  overflow: hidden;
  height: 444px;
  width: 915px;
  box-shadow: 0 0 7px 4px #c1c1c1;
}

.container1 {
  height: 443px;
}

img.image2 {
  height: 85vh;
  width: 621px;
}

.group1 {
  height: 100px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  width: 293px;
  height: 71vh;
  padding: 15px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.left-panel {
  width: 622px;
  height: 705h;
}

.right_labels1 {
  width: 281px;
  height: 53vh;
}

.eye2 {
  color: #7b79ff;
  position: absolute;
  top: 24px;
  right: 35px;
  font-size: 15px;
}

@media (max-width: 375px){
  .right-panel {
    display: flex;
    position: absolute;
    height: 76vh;
    top: 105px;
    right: 42px;
    width: 274px;
    align-items: flex-end;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
}
  .container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }

  .left-panel {
    width: 100vw;
    height: 100vh;
  } 

  img.image2 {
    width: 100vw;
    height: 100vh;
  }

  .right_labels1 {
    width: 249px;
    height: 69vh;
  }

  .times1 {
    display: grid;
    width: 15px;
    align-self: end;
    position: absolute;
    margin-bottom: 363px;
    margin-left: 250px;
  }

  .eye2 {
    color: #7b79ff;
    position: absolute;
    top: 24px;
    right: 5px;
    font-size: 15px;
  }
}

@media (min-width: 425px) and (max-width: 600px){
  .right-panel {
    display: flex;
    position: absolute;
    height: 76vh;
    top: 105px;
    right: 139px;
    width: 274px;
    align-items: flex-end;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
  }
  .container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }

  .left-panel {
    width: 100vw;
    height: 100vh;
  } 

  img.image2 {
    width: 100vw;
    height: 100vh;
  }

  .right_labels1 {
    width: 249px;
    height: 69vh;
  }

  .times1 {
    display: grid;
    width: 15px;
    align-self: end;
    position: absolute;
    margin-bottom: 363px;
    margin-left: 250px;
  }

  .eye2 {
    color: #7b79ff;
    position: absolute;
    top: 24px;
    right: 5px;
    font-size: 15px;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {

  .container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }

  .left-panel {
    width: 100vw;
    height: 100vh;
  } 

  img.image2 {
    width: 100vw;
    height: 100vh;
  }

  .right-panel {
    display: flex;
    position: absolute;
    height: 76vh;
    top: 105px;
    right: 315px;
    width: 274px;
    align-items: flex-end;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 20px;
  }

  .right_labels1 {
    width: 249px;
    height: 69vh;
  }

  .times1 {
    display: grid;
    width: 15px;
    align-self: end;
    position: absolute;
    margin-bottom: 363px;
    margin-left: 250px;
  }
  .eye2 {
    color: #7b79ff;
    position: absolute;
    top: 24px;
    right: 5px;
    font-size: 15px;
  }
}

@media (min-width: 1000px) and (max-width: 1024px) {

  .left-panel {
    width: 622px;
    height: 62vh;
  }

  img.image2 {
    height: 62vh;
    width: 621px;
  }

  .right_labels1 {
    width: 306px;
    height: 62vh;
  }
  .right-panel {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 66vh;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .eye2 {
    color: #7b79ff;
    position: absolute;
    top: 24px;
    right: 55px;
    font-size: 15px;
  }

}

